@import './variables';
@import './reset';

input,
button,
body {
	font-family: $font;
}

body {
	
	color: #181a1e;
	font-size: 17px;
	line-height: 1.6;
	background: rgb(207,255,188);
	background: linear-gradient(90deg, rgba(207,255,188,1) 0%, rgba(228,241,254,1) 31%, rgba(228,241,254,1) 80%, rgba(163,223,255,1) 100%);
}

input {
	font-size: 16px;
	background-color: transparent;
	color: black;

	&::placeholder {
		color: $primary;
	}
}

a {
	color: #181a1e;
	text-decoration: none;
	transition: border-color 0.3s ease-in-out;
	border-bottom: 1px solid transparent;
	animation: drawing 0.4s;

	&:hover {
		border-color: $primary;
	}
}
.heading_RuE_p_8{
	color: aliceblue;
	text-align: center;
	
}

#transaction-date{
	color: aliceblue;
}

#transaction-amount{
	color: aliceblue;
}

@import './keyframes';