@import 'src/styles/variables';
@import 'src/styles/mixins';

.logout {
	> button {
		@include transition(color);
		background-color: $primary;
		border: none;
		border-radius: 50%;
		color: lighten($text-gray, 15%);
		width: 45px;
		height: 44px;
		padding: 5px;

		&:hover {
			color: $white;
		}

		> svg {
			width: 26px;
			height: 26px;
            color: white;
		}
	}
}